/.vscode
/dowhile.c
/dowhile.exe
/fact.c
/fact.exe
/fifth.c
/fifth.exe
/first.c
/first.exe
/for.c
/for.exe
/fourth.c
/fourth.exe
/function.c
/g.c
/second.c
/second.exe
/seventh.c
/seventh.exe
/sixth.c
/sixth.exe
/switch.c
/switch.exe
/test.exe
/third.c
/upper.c
/upper.exe
/while.c
/while.exe